---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {%- assign wanted_titles = "Academic Services|Events and Invited Talks" | split: "|" -%}

      {%- for wanted in wanted_titles -%}
        {%- for entry in site.data.cv -%}
          {%- if entry.title == wanted -%}
            <a class="anchor" id="{{ entry.title }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
              <div>
                {% if entry.type == 'list' %}
                  {% include cv/list.liquid entry=entry %}
                {% elsif entry.type == 'map' %}
                  {% include cv/map.liquid entry=entry %}
                {% elsif entry.type == 'nested_list' %}
                  {% include cv/nested_list.liquid entry=entry %}
                {% elsif entry.type == 'time_table' %}
                  {% include cv/time_table.liquid entry=entry %}
                {% elsif entry.type == 'list_groups' %}
                  {% include cv/list_groups.liquid entry=entry %}
                {% else %}
                  {{ entry.contents }}
                {% endif %}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}

    </div>
  </article>
</div>
